* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content {
    margin: 0 auto;
    padding: 10px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

img {
    width: 200px;
}

.list {
    display: flex;
    margin-top: 10px;
}

strong {
    width: 140px;
}

.text {
    /* margin-left: -250px; */
 
    width: 800px;
    margin-left: 60px;
    text-align: justify;
}

.ul {
    /* margin-left: 430px; */
}

.desk {
    width: 700px;
}
.content {
}
